/* 폰트 시작 */
@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
  }
  
  html {
    font-family: 'LotteMartDream', sans-serif;
  }
  /* 폰트 끝 */
  
  /* 노말라이즈 시작*/
  body, ul, li{
    margin:0;
    padding:0;
    list-style:none;
  }
  a{
    color:inherit;
    text-decoration:none;
  }
  
  /* 노말라이즈 끝*/
  
  /* 라이브러리 시작*/
  .con{
    margin-left:auto;
    margin-right:auto;
  }
  
  .block{
    display:block;
  }
  
  .bg-blue{
    background-color:blue;
  }
  
  .bg-red{
    background-color:red;
  }
  
  .padding-0-10{
    padding:0 10px;
  }
  
  .flex{
    display:flex;
  }
  
  .flex-wrap{
    flex-wrap:wrap;
  }
  
  .flex-jc-c{
    justify-content:center;
  }
  
  .width-1-7{
    width:calc(100% / 7);
  }
  
  .width-25p{
    width:25%;
  }
  
  .img-box > img{
    width:100%;
    display:block;
  }
  
  
  /* 라이브러리 끝*/
  
  /* 커스텀 시작*/
  :root{
    --site-width:1200px;
    --point-color-1:rgba(199,0,0,1);
  }
  
  .con-min-width{
    min-width:var(--site-width);
  }
  
  .con{
    width:var(--site-width);
  }
  
  /* 로고 바 시작*/
  .logo-bar .logo{
    padding:30px 0;
  }
  
  .logo{
    font-size:2rem;
    font-weight:bold;
  }
  /* 로고 바 끝*/
  
  /* 메뉴 바 시작 */
  .menu-bar__menu-1 > ul > li > a{
    text-align:center;
    padding:20px 0;
    text-transform:uppercase;
    font-weight:bold;
  }
  
  .menu-bar__menu-1 > ul > li:hover > a{
    color:red;
    text-decoration:underline;
  }
  /* 메뉴 바 끝 */
  
  /* 타이틀 바 시작*/
  .title-bar{
    margin-top:30px;
    margin-bottom:20px;
  }
  /* 타이틀 바 끝*/
  
  /* 이미지 스와이퍼 시작*/
  .my-slider-1{
    position:relative;
  }
  
  .my-slider-1 .swiper-slide{
    overflow:hidden;
  }
  
  
  .my-slider-1 .swiper-slide > img{
    display:block;
    width:100%;
    transform:scale(1.1);
    transition:transform 5s;
  }
  
  .my-slider-1 .swiper-slide.swiper-slide-active > img{
    transform:scale(1);
  }
  
  .my-slider-1__pagination{
    margin-top:20px;
  }
  
  .my-slider-1__pagination .swiper-pagination-bullet{
    width:auto;
    height:auto;
    border:50%;
    border-radius:50%;
    overflow:hidden;
    margin:0 10px;
    outline:0;
  }
  
  .my-slider-1__nav-button {
    position:absolute;
    z-index:10;
    top:230px;
    font-size:2rem;
    outline:0;
    cursor:pointer;
  }
  
  .my-slider-1__nav-button--left{
    right:calc(100% + 30px);
  }
  
  .my-slider-1__nav-button--right{
    left:calc(100% + 30px);
  }
  
  .my-slider-1__prod-name{
    position:absolute;
    z-index:1;
    background-color:var(--point-color-1);
    color:white;
    top:0;
    left:0;
    font-size:1rem;
    padding:20px;
    border-radius:0 0 10px 0;
    transition:transform 1s .4s;
    transform:translateY(-100%);
  }
  
  .my-slider-1__prod-name::before{
    content:"GO TO ";
  }
  
  .swiper-slide-active .my-slider-1__prod-name{
    transform:translateY(0);
  }
  
  .my-slider-1__pagination{
    margin-top:20px;
  }
  /* 이미지 스와이퍼 끝*/
  
  /* 상품 리스트 시작*/
  
  .section-prod-list{
    margin-top:-20px;
  }
  
  .prod-list > ul{
    margin:0 -10px;
  }
  
  .prod-list > ul > li{
    padding:0 10px;
    box-sizing:border-box;
    margin-top:20px;
    cursor:pointer;
  }
  
  .prod-list__prod-name{
    margin-top:10px;
    font-weight:bold;
    text-align:center;
  }
  
  .prod-list__prod-price{
    margin-top:10px;
    font-weight:bold;
    text-align:center;
    font-size:1.3rem;
  }
  
  .prod-list__prod-price::after{
    content:"원";
    font-size:1.3rem;
  }
  
  /* 이미지 애니메이션 시작 */
  .img-box > img{
    width:100%;
    display:block;
  }
  
  .prod-list__prod-img{
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    overflow:hidden;
  }
  
  .prod-list__prod-img::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0);
    transition:background-color 1s;
  }
  
  .prod-list > ul > li:hover .prod-list__prod-img::before{
    background-color:rgba(0,0,0,0.5);
  }
  
  .prod-list__prod-img-txt-1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translatey(-50%);
    border:2px solid white;
    padding:5px;
    border-radius:10px;
    color:white;
    font-weight:bold;
    opacity:0;
  }
  
  .prod-list__prod-img-txt-1::before{
    content:"GO TO ";
  }
  
  .prod-list > ul > li:hover .prod-list__prod-img-txt-1{
    opacity:1;
  }
  
  .prod-list__prod-img > img{
    position:relative;
    z-index:-1;
    transition:transform 1s;
  }
  
  .prod-list > ul > li:hover .prod-list__prod-img > img{
    transform:scale(1.2);
  }
  /* 이미지 애니메이션 끝*/
  
  
  
  
  /* 커스텀 끝*/